*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    background:#0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.container h1{
    font-size: 50px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    color : #e0ffe8;
}

.container h1 span{
    color:#00ff88;
}

.container textarea{
    width: 600px;
    height:250px;
    background-color: #1f1f1f;
    font-size: 17px;
    border-radius:10px;
    padding: 20px ;
    margin: 0;
    resize: none;
    margin-bottom: 30px;
    color: azure;

}

textarea::placeholder{
    font-size: 17px;
    color: azure;
}

.box{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;

}

button{
    background-color:#00ff88;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button img{
    width: 16px;
    margin-right: 10px;

}

select{
    flex: 1;
    color: rgb(255, 255, 255);
    background: #1f1f1f;
    height :50px;
    padding: 0 20px;
    outline: 0;
    border:0;
    border-radius: 35px;
    appearance: none;
    background-image:url('images/dropdown.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}

